.navbar {
  position: fixed;
  z-index: 10;
  width: 100%; }

nav a {
  color: #436c49 !important;
  font-weight: 500; }

.navbar-brand {
  width: 30% !important; }

nav img {
  width: 70px;
  height: 70px;
  margin-left: 5%; }

.nav-link {
  padding-left: 0 !important; }

nav h1 {
  font-size: 21px;
  margin: auto;
  text-align: center;
  width: 35%;
  font-family: 'PT Serif', serif;
  font-weight: 500;
  color: #436c49; }

.navbar-collapse ul {
  width: 100%; }

@media only screen and (min-width: 286px) and (max-width: 992px) {
  .navbar-collapse ul {
    margin-left: 0% !important; }
  .navbar-brand {
    width: auto !important; }
  nav h1 {
    margin: 0%;
    width: 50%; }
  nav h1 {
    font-size: 15px !important; }
  nav img {
    width: 50px;
    height: 50px; } }

@media only screen and (max-width: 285px) {
  nav h1 {
    width: 98px !important; } }

.carousel {
  padding-top: 5%; }

.carousel img {
  width: 100%;
  height: 500px; }

.carousel h5 {
  color: #f0f0f0;
  font-family: 'PT Serif', serif; }

.carousel-caption {
  color: #181818;
  background-color: #167a1d73; }

@media only screen and (min-width: 280px) and (max-width: 992px) {
  .carousel img {
    height: 350px; } }

.info {
  padding: 2%;
  text-align: center; }

.h5Curso {
  margin: 0% !important; }

.curso li {
  height: 50px;
  margin: 5px 10% !important;
  display: flex;
  justify-content: center;
  align-items: center; }

.historia img {
  height: 100%;
  width: 100%;
  display: block; }

.infoEstudio p {
  padding: 2% 3%;
  font-size: 16px; }

.plan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 15%;
  list-style: auto;
  color: #436c49;
  margin-top: 5%;
  text-align: left; }

.plan li {
  margin-bottom: 7%; }

.plan li ul li {
  margin-bottom: 1%; }

.plan p {
  font-weight: 600; }

.tituloSeccion {
  margin: 0% !important;
  font-size: 25px !important; }

.horarios {
  text-align: center; }

.horarios div {
  display: flex; }

.horarios div div {
  border: 2px solid #436c49;
  font-size: 15px;
  width: 50%;
  margin: 5px;
  text-align: center;
  border-radius: 15px; }

.horarios a {
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #436c49;
  border-radius: 10px;
  padding: 5px 0px; }

.horarios a:hover {
  background-color: #436c49;
  color: #f0f0f0; }

@media only screen and (min-width: 280px) and (max-width: 992px) {
  .info {
    padding: 4% 8%;
    text-align: center; }
  .tituloSeccion {
    width: 80%;
    margin: 0% 10% !important; }
  .infoEstudio p {
    font-size: 14px; }
  .horarios div {
    display: flex; }
  .horarios a {
    margin-bottom: 10%; }
  .curso li {
    height: 100px;
    margin: 1px 5% !important; }
  .h5Curso {
    margin: 0% 10% !important;
    width: 80%; }
  .historia img {
    display: none; } }

footer {
  text-align: center;
  margin-bottom: 1%;
  padding-top: 2% !important;
  margin-top: 2% !important; }

footer div {
  display: flex;
  justify-content: center; }

footer img {
  width: 50px;
  height: 50px; }

footer a {
  text-decoration: none; }

.contactoDirecto {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 0% 5%; }

.contactoDirecto p {
  margin: 0% !important;
  padding: 5% 2%; }

@media only screen and (min-width: 280px) and (max-width: 992px) {
  .contactoDirecto {
    justify-content: flex-start; } }

form {
  width: 100%; }

form div {
  display: flex;
  margin-top: 3%; }

form div div {
  width: 100%;
  margin-top: 0%;
  margin-left: 5%; }

form label {
  margin: 2%;
  width: 10%; }

form input, textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #436c49; }

textarea {
  height: 150px;
  border: 1px solid #436c49; }

.servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 10px; }

.bien {
  color: #436c49;
  font-weight: 600;
  background-color: rgba(0, 51, 0, 0.144); }

.mal {
  color: red;
  background-color: rgba(110, 0, 0, 0.356); }

.botones {
  display: flex;
  width: 80%;
  margin-left: 15%;
  justify-content: space-around; }

.botones button {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border-radius: 15px;
  border: 2px solid #436c49;
  color: #436c49; }

.botones button:hover {
  background-color: #436c49;
  border: 2px solid #f0f0f0;
  color: #f0f0f0; }

iframe {
  margin: 5%;
  border-radius: 25px; }

.mapa iframe {
  width: 90%;
  height: 500px; }

/* Checkbox */
/* Contenedor */
.servicios div {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px; }

.servicios label {
  margin: 0;
  width: 100%; }

/* escondemos el default checkbox */
.servicios label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* creamos un custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 5px; }

/* Al pasar el mouse encima, lo ponemos gris */
.servicios div:hover input ~ .checkmark {
  background-color: #ccc; }

/* creamos el marcador (escondido al no seleccionar) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* mostramos el marcador al seleccionar */
.servicios input:checked ~ .checkmark:after {
  display: block; }

/* estilo del marcador */
.servicios .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#c1 input:checked ~ .checkmark {
  background-color: #436c49; }

@media only screen and (min-width: 280px) and (max-width: 992px) {
  .navbar-collapse ul {
    margin-left: 0% !important; }
  .servicios {
    display: block !important; }
  form div div {
    margin-left: 10%; }
  form, .servicios label {
    font-size: 13px; }
  .botones button {
    width: 80px;
    height: 35px;
    font-size: 13px; } }

.preguntasDisplayNone {
  display: none; }

.accordion {
  padding: 0% 15%; }

.accordion-item {
  margin: 5%;
  border: 2px solid #436c49 !important; }

.accordion-button {
  color: #436c49; }

.accordion-button:not(.collapsed) {
  color: #f0f0f0;
  background-color: #436c49e1;
  box-shadow: inset 0 -1px 0 rgba(13, 54, 19, 0.25); }

.accordion-button:not(.collapsed)::after {
  background-image: url("../assets/images/flecha.png"); }

.accordion p {
  margin: 0%; }

.accordion-button:focus {
  z-index: 3;
  border-color: #436c49;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(2, 110, 19, 0.25); }

@media only screen and (min-width: 286px) and (max-width: 992px) {
  .accordion {
    padding: 0% 5%;
    font-size: 15px; } }

.video {
  margin: 5% 0%;
  display: flex;
  justify-content: center;
  align-items: center; }

.video iframe {
  width: 80%;
  height: 400px;
  margin: 0%;
  border: 3px solid #436c49; }

@media only screen and (min-width: 286px) and (max-width: 992px) {
  .video iframe {
    width: 90%;
    height: 300px; } }

@media only screen and (max-width: 500px) {
  .video iframe {
    height: 250px !important; } }

.swiper {
  height: 100%;
  text-align: center; }

.swiper ul {
  margin: 0% 10%;
  padding: 0px; }

.swiper b {
  color: #f0f0f0; }

.swiper p, .curso p {
  border-bottom: 1px solid #e4e4e4;
  margin: 0% 10%;
  color: #436c49;
  font-size: 18px; }

.curso ul {
  padding: 0% !important; }

.swiper li, .curso ul li {
  margin: 2% 10%;
  list-style: none;
  border: 1px solid #e4e4e4;
  background-color: #436c49e1;
  color: #f0f0f0;
  padding: 5px; }

.swiper-button-next {
  right: 35px !important; }

.swiper-button-prev {
  left: 35px !important; }

.swiper-button-prev::after, .swiper-button-next::after {
  color: #436c49;
  font-size: 30px !important; }

.swiper-pagination-bullet-active {
  background-color: #436c49 !important; }

@media only screen and (min-width: 280px) and (max-width: 992px) {
  .swiper-button-next {
    right: 20px !important; }
  .swiper-button-prev {
    left: 20px !important; } }

html, body {
  overflow-x: hidden !important; }

b {
  color: #028516; }

.row h5 {
  display: flex;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  background-color: #436c49;
  color: #f0f0f0;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 2% 15%;
  font-family: 'PT Serif', serif; }

h4 {
  font-family: 'PT Serif', serif; }

* {
  font-family: 'Montserrat', sans-serif; }

.seccion {
  border-top: solid 1px #436c49;
  padding-top: 5%; }
