.carousel{
    padding-top: 5%;
}
.carousel img{
    width: 100%;
    height: 500px;
}
.carousel h5{
    color: $blanco;
    font-family: 'PT Serif', serif;    

}
.carousel-caption{
    color: $negro;
    background-color: #167a1d73;
}

@media only screen and (min-width: 280px) and (max-width: 992px) {
    .carousel img{
        height: 350px;
    }
}