

.info{
    padding: 2%;
    text-align: center;
}

.infoEstudio p{
    padding: 2% 3%;
    font-size: 16px;
}
.plan{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-left: 15%;
    list-style: auto;
    color: $verde;
    margin-top: 5%;
    text-align: left;
}
.plan li{
    margin-bottom: 7%;
}
.plan li ul li{
    margin-bottom: 1%;
}
.plan p{
   font-weight: 600;
}
.tituloSeccion{
    margin: 0% !important;
    font-size: 25px !important;
}

.horarios a{
    text-decoration: none;
    padding: 3%;
}
@media only screen and (min-width: 280px) and (max-width: 992px) {
    .info{
        padding: 4% 8%;
        text-align: center;
    }
    .tituloSeccion{
        width: 80%;
        margin: 0% 10% !important;
    }
    .infoEstudio p{
        font-size: 14px;
    }
    .horarios a{
        margin-bottom: 5%;
    }
}