

.info{
    padding: 2%;
    text-align: center;
}
.h5Curso{
    margin: 0% !important;
}
.Objetivos li{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.historia img{
    height: 100%;
    width: 100%;
}

.infoEstudio p{
    padding: 2% 3%;
    font-size: 16px;
}
.plan{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-left: 15%;
    list-style: auto;
    color: $verde;
    margin-top: 5%;
    text-align: left;
}
.plan li{
    margin-bottom: 7%;
}
.plan li ul li{
    margin-bottom: 1%;
}
.plan p{
   font-weight: 600;
}
.tituloSeccion{
    margin: 0% !important;
    font-size: 25px !important;
}
.horarios {
    text-align: center;
}
.horarios div{
    display: flex;
}
.horarios div div{
    border:2px solid $verde;  
    font-size: 15px;
    width: 50%;
    margin: 5px;
    text-align: center;
    border-radius: 15px;   
}
.horarios a{
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: $verde;
    border-radius: 10px;   
    padding: 5px 0px;
}
.horarios a:hover{
    background-color: $verde;    
    color: $blanco;
}


@media only screen and (min-width: 280px) and (max-width: 992px) {
    .info{
        padding: 4% 8%;
        text-align: center;
    }
    .tituloSeccion{
        width: 80%;
        margin: 0% 10% !important;
    }
    .infoEstudio p{
        font-size: 14px;
    }
    .horarios div{
        display: flex;
    }
    .horarios a{
        margin-bottom: 10%;
    }
    .Objetivos li{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}