@import "colores";
@import "nav";
@import "carousel";
@import "educacion";
@import "footer";
@import "contacto";
@import "pregs";
@import "historia";
@import "swiper";

html,body{
    overflow-x: hidden !important;
}
b{
    color: $verdeBold;
}
.row h5{
    display: flex;
    text-align: center;
    font-size: 19px ;
    font-weight: 500;
    background-color: $verde;
    color: $blanco;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 2% 15%;
    font-family: 'PT Serif', serif;    

}

*{
    font-family: 'Montserrat', sans-serif;
}
.seccion{
    border-top: solid 1px $verde;
    padding-top: 5%;
}

